<h3><a href="/phonebook" class="btn btn-secondary">Create New</a>Record</h3>
<form action="/phonebook/list" method="post">
    <h3><input type="text" id="Search" class="form-control" name="search" placeholder="Search"><button type="submit" class="btn btn-primary">Search</button></h3>
</form>
<table class="table tav=ble-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Date Of Birth</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th></th>
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        {{#each list }}
<!--        {{#each this}}-->
<!--            {{DOB}}-->
<!--            {{/each}}-->
           <tr>
               <td>
                   {{FullName}}
               </td>
               <td>
                   {{DOB}}
                </td>
               <td>
                   {{email}}
               </td>
               <td>
                   {{mobile}}
                </td>
               <td>
                   <a href="/phonebook/{{this._id}}" style="background-color: aqua;color: white;padding: .1rem .3rem ;border-radius: 6px; text-decoration: none">Edit</a>
                   <a href="/phonebook/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');" style="background-color: red;color: white;padding: .1rem .3rem ;border-radius: 6px; text-decoration: none">Delete</a>

                </td>
           </tr>
        {{/each}}
    </tbody>
</table>

<section class="center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="/phonebook/list/?page=1">1</a></li>
            <li class="page-item"><a class="page-link" href="/phonebook/list/?page=2">2</a></li>
            <li class="page-item"><a class="page-link" href="/phonebook/list/?page=3">3</a></li>
            <li class="page-item"><a class="page-link" href="/phonebook/list/?page=4">4</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</section>

<!--<script>-->
<!--    $(function () {-->
<!--        $('#Search').autocomplete({-->
<!--            source: function (req, res) {-->
<!--                $.ajax({-->
<!--                   url: "autocomplete/",-->
<!--                    dataType: "jsonp",-->
<!--                    type: "GET",-->
<!--                    data: req,-->
<!--                    success: function (data) {-->
<!--                        res(data)-->
<!--                    },-->
<!--                    error: function (err) {-->
<!--                        console.log(err.status);-->
<!--                    }-->
<!--                });-->
<!--            },-->
<!--            minLength: 1,-->
<!--            select: function (event , ui) {-->
<!--                if(ui.item)-->
<!--                {-->
<!--                    $('#Search').text(ui.item.label);-->
<!--                }-->
<!--            }-->
<!--        });-->
<!--    });-->
<!--</script>-->
